@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body {
    background: rgb(0, 0, 0);
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}

.container .color {
    list-style: none;
    margin: 13px;
    padding: 7px;
    border-radius: 6px;
    text-align: center;
    background: #252525;
    box-shadow: 0 10px 20px #896cff77 ;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.container .color:active{
    transform: scale(0.9);
    box-shadow: 0 20px 30px #896cffbd;
}

.container .rect-box {
    width: 185px;
    height: 185px;
    border-radius: 5px;
    background: #8a6cff;
    margin: 5px 5px;
}

.color .hex-value{

    display: block;
    font-size: 1.15rem;
    font-weight: 500 ;
    margin: 12px 0 8px;
    color: rgba(255, 255, 255, 0.833); 
}